{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container flex-center">
        <h2>Sign up</h2>
        <div class="col-xs-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button class="btn btn-primary" type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}